<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Clover</key>
	<dict>
		<key>Root/ACPI/DSDT/Patches</key>
		<array>
			<dict>
				<key>name</key>
				<string>New Blank Entry</string>
				<key>types</key>
				<string>d/d/d/a</string>
				<key>value</key>
				<dict>
					<key>Comment</key>
					<string></string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data></data>
					<key>Replace</key>
					<data></data>
				</dict>
			</dict>
		</array>
	</dict>
	<key>OpenCore</key>
	<dict>
		<key>Root/ACPI/Add</key>
		<array>
			<dict>
				<key>name</key>
				<string>New Blank Entry</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Comment</key>
					<string></string>
					<key>Enabled</key>
					<true/>
					<key>Path</key>
					<string></string>
				</dict>
			</dict>
		</array>
		<key>Root/ACPI/Delete</key>
		<array>
			<dict>
				<key>name</key>
				<string>New Blank Entry</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>All</key>
					<false/>
					<key>Comment</key>
					<string></string>
					<key>Enabled</key>
					<true/>
					<key>OemTableId</key>
					<data>AAAAAAAAAAA=</data>
					<key>TableLength</key>
					<integer>0</integer>
					<key>TableSignature</key>
					<data></data>
				</dict>
			</dict>
			<dict>
				<key>separator</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>Drop DMAR</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>All</key>
					<false/>
					<key>Comment</key>
					<string>Drop DMAR</string>
					<key>Enabled</key>
					<true/>
					<key>OemTableId</key>
					<data>AAAAAAAAAAA=</data>
					<key>TableLength</key>
					<integer>0</integer>
					<key>TableSignature</key>
					<data>RE1BUg==</data>
				</dict>
			</dict>
		</array>
		<key>Root/ACPI/Patch</key>
		<array>
			<dict>
				<key>name</key>
				<string>New Blank Entry</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Base</key>
					<string></string>
					<key>BaseSkip</key>
					<integer>0</integer>
					<key>Comment</key>
					<string></string>
					<key>Count</key>
					<integer>0</integer>
					<key>Enabled</key>
					<true/>
					<key>Find</key>
					<data></data>
					<key>Limit</key>
					<integer>0</integer>
					<key>Mask</key>
					<data></data>
					<key>OemTableId</key>
					<data>AAAAAAAAAAA=</data>
					<key>Replace</key>
					<data></data>
					<key>ReplaceMask</key>
					<data></data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TableLength</key>
					<integer>0</integer>
					<key>TableSignature</key>
					<data>AAAAAA==</data>
				</dict>
			</dict>
		</array>
		<key>Root/Kernel/Add</key>
		<array>
			<dict>
				<key>name</key>
				<string>New Blank Entry</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>BundlePath</key>
					<string></string>
					<key>Comment</key>
					<string></string>
					<key>Enabled</key>
					<true/>
					<key>ExecutablePath</key>
					<string></string>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string></string>
					<key>PlistPath</key>
					<string>Contents/Info.plist</string>
				</dict>
			</dict>
			<dict>
				<key>separator</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>Add Lilu kext</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>BundlePath</key>
					<string>Lilu.kext</string>
					<key>Comment</key>
					<string></string>
					<key>Enabled</key>
					<true/>
					<key>ExecutablePath</key>
					<string>Contents/MacOS/Lilu</string>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string></string>
					<key>PlistPath</key>
					<string>Contents/Info.plist</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>Add VirtualSmc kext</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>BundlePath</key>
					<string>VirtualSMC.kext</string>
					<key>Comment</key>
					<string></string>
					<key>Enabled</key>
					<true/>
					<key>ExecutablePath</key>
					<string>Contents/MacOS/VirtualSMC</string>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string></string>
					<key>PlistPath</key>
					<string>Contents/Info.plist</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>Add WhateverGreen kext</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>BundlePath</key>
					<string>WhateverGreen.kext</string>
					<key>Comment</key>
					<string>Video card</string>
					<key>Enabled</key>
					<true/>
					<key>ExecutablePath</key>
					<string>Contents/MacOS/WhateverGreen</string>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string></string>
					<key>PlistPath</key>
					<string>Contents/Info.plist</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>Add AppleALC kext</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>BundlePath</key>
					<string>AppleALC.kext</string>
					<key>Comment</key>
					<string>Sound</string>
					<key>Enabled</key>
					<true/>
					<key>ExecutablePath</key>
					<string>Contents/MacOS/AppleALC</string>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string></string>
					<key>PlistPath</key>
					<string>Contents/Info.plist</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>Add USBInjectAll kext</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>BundlePath</key>
					<string>USBInjectAll.kext</string>
					<key>Comment</key>
					<string></string>
					<key>Enabled</key>
					<true/>
					<key>ExecutablePath</key>
					<string>Contents/MacOS/USBInjectAll</string>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string></string>
					<key>PlistPath</key>
					<string>Contents/Info.plist</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>Add VoodooPS2Controller [First to load]</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>BundlePath</key>
					<string>VoodooPS2Controller.kext</string>
					<key>Comment</key>
					<string></string>
					<key>Enabled</key>
					<true/>
					<key>ExecutablePath</key>
					<string>Contents/MacOS/VoodooPS2Controller</string>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string></string>
					<key>PlistPath</key>
					<string>Contents/Info.plist</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>Add VoodooPS2Keyboard [Load after VPS2C]</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>BundlePath</key>
					<string>VoodooPS2Controller.kext/Contents/PlugIns/VoodooPS2Keyboard.kext</string>
					<key>Comment</key>
					<string></string>
					<key>Enabled</key>
					<true/>
					<key>ExecutablePath</key>
					<string>Contents/MacOS/VoodooPS2Keyboard</string>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string></string>
					<key>PlistPath</key>
					<string>Contents/Info.plist</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>Add VoodooPS2Trackpad [Load after VPS2C]</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>BundlePath</key>
					<string>VoodooPS2Controller.kext/Contents/PlugIns/VoodooPS2Trackpad.kext</string>
					<key>Comment</key>
					<string></string>
					<key>Enabled</key>
					<true/>
					<key>ExecutablePath</key>
					<string>Contents/MacOS/VoodooPS2Trackpad</string>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string></string>
					<key>PlistPath</key>
					<string>Contents/Info.plist</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>Add AirportBrcmFixup kext</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>BundlePath</key>
					<string>AirportBrcmFixup.kext</string>
					<key>Comment</key>
					<string></string>
					<key>Enabled</key>
					<true/>
					<key>ExecutablePath</key>
					<string>Contents/MacOS/AirportBrcmFixup</string>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string></string>
					<key>PlistPath</key>
					<string>Contents/Info.plist</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>Add CPUFriend kext</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>BundlePath</key>
					<string>CPUFriend.kext</string>
					<key>Comment</key>
					<string></string>
					<key>Enabled</key>
					<true/>
					<key>ExecutablePath</key>
					<string>Contents/MacOS/CPUFriend</string>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string></string>
					<key>PlistPath</key>
					<string>Contents/Info.plist</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>Add CPUFriend DataProvider [Load after CPUFriend]</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>BundlePath</key>
					<string>CPUFriendDataProvider.kext</string>
					<key>Comment</key>
					<string></string>
					<key>Enabled</key>
					<true/>
					<key>ExecutablePath</key>
					<string></string>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string></string>
					<key>PlistPath</key>
					<string>Contents/Info.plist</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>VoodooI2C: Services [First to load]</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>BundlePath</key>
					<string>VoodooI2C.kext/Contents/PlugIns/VoodooI2CServices.kext</string>
					<key>Comment</key>
					<string></string>
					<key>Enabled</key>
					<true/>
					<key>ExecutablePath</key>
					<string>Contents/MacOS/VoodooI2CServices</string>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string></string>
					<key>PlistPath</key>
					<string>Contents/Info.plist</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>VoodooI2C: GPIO [Second to load]</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>BundlePath</key>
					<string>VoodooI2C.kext/Contents/PlugIns/VoodooGPIO.kext</string>
					<key>Comment</key>
					<string></string>
					<key>Enabled</key>
					<true/>
					<key>ExecutablePath</key>
					<string>Contents/MacOS/VoodooGPIO</string>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string></string>
					<key>PlistPath</key>
					<string>Contents/Info.plist</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>VoodooI2C: Main [Third to load]</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>BundlePath</key>
					<string>VoodooI2C.kext</string>
					<key>Comment</key>
					<string></string>
					<key>Enabled</key>
					<true/>
					<key>ExecutablePath</key>
					<string>Contents/MacOS/VoodooI2C</string>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string></string>
					<key>PlistPath</key>
					<string>Contents/Info.plist</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>VoodooI2C: HID [Last to load]</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>BundlePath</key>
					<string>VoodooI2CHID.kext</string>
					<key>Comment</key>
					<string></string>
					<key>Enabled</key>
					<true/>
					<key>ExecutablePath</key>
					<string>Contents/MacOS/VoodooI2CHID</string>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string></string>
					<key>PlistPath</key>
					<string>Contents/Info.plist</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>Add NoTouchID kext</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>BundlePath</key>
					<string>NoTouchID.kext</string>
					<key>Comment</key>
					<string></string>
					<key>Enabled</key>
					<true/>
					<key>ExecutablePath</key>
					<string>Contents/MacOS/NoTouchID</string>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string></string>
					<key>PlistPath</key>
					<string>Contents/Info.plist</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>Add BrcmFirmwareData kext</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>BundlePath</key>
					<string>BrcmFirmwareData.kext</string>
					<key>Comment</key>
					<string></string>
					<key>Enabled</key>
					<true/>
					<key>ExecutablePath</key>
					<string>Contents/MacOS/BrcmFirmwareData</string>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string></string>
					<key>PlistPath</key>
					<string>Contents/Info.plist</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>Add BrcmPatchRAM2 kext (10.11.x-10.14.x)</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>BundlePath</key>
					<string>BrcmPatchRAM2.kext</string>
					<key>Comment</key>
					<string></string>
					<key>Enabled</key>
					<true/>
					<key>ExecutablePath</key>
					<string>Contents/MacOS/BrcmPatchRAM2</string>
					<key>MaxKernel</key>
					<string>18.99.99</string>
					<key>MinKernel</key>
					<string></string>
					<key>PlistPath</key>
					<string>Contents/Info.plist</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>Add BrcmPatchRAM3 kext (10.15+)</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>BundlePath</key>
					<string>BrcmPatchRAM3.kext</string>
					<key>Comment</key>
					<string></string>
					<key>Enabled</key>
					<true/>
					<key>ExecutablePath</key>
					<string>Contents/MacOS/BrcmPatchRAM3</string>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string>19.0.0</string>
					<key>PlistPath</key>
					<string>Contents/Info.plist</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>Add SMCBatteryManager kext [Load after VSMC]</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>BundlePath</key>
					<string>SMCBatteryManager.kext</string>
					<key>Comment</key>
					<string></string>
					<key>Enabled</key>
					<true/>
					<key>ExecutablePath</key>
					<string>Contents/MacOS/SMCBatteryManager</string>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string></string>
					<key>PlistPath</key>
					<string>Contents/Info.plist</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>Add SMCProcessor kext [Load after VSMC]</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>BundlePath</key>
					<string>SMCProcessor.kext</string>
					<key>Comment</key>
					<string></string>
					<key>Enabled</key>
					<true/>
					<key>ExecutablePath</key>
					<string>Contents/MacOS/SMCProcessor</string>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string></string>
					<key>PlistPath</key>
					<string>Contents/Info.plist</string>
				</dict>
			</dict>
		</array>
		<key>Root/Kernel/Block</key>
		<array>
			<dict>
				<key>name</key>
				<string>New Blank Entry (Disable)</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>Comment</key>
					<string></string>
					<key>Enabled</key>
					<true/>
					<key>Identifier</key>
					<string></string>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string></string>
					<key>Strategy</key>
					<string>Disable</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>New Blank Entry (Exclude)</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>Comment</key>
					<string></string>
					<key>Enabled</key>
					<true/>
					<key>Identifier</key>
					<string></string>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string></string>
					<key>Strategy</key>
					<string>Exclude</string>
				</dict>
			</dict>
			<dict>
				<key>separator</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>IOSkywalkFamily (Sonoma+)</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>Comment</key>
					<string>Allow IOSkywalk Downgrade</string>
					<key>Enabled</key>
					<true/>
					<key>Identifier</key>
					<string>com.apple.iokit.IOSkywalkFamily</string>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string>23.0.0</string>
					<key>Strategy</key>
					<string>Exclude</string>
				</dict>
			</dict>
		</array>
		<key>Root/Kernel/Force</key>
		<array>
			<dict>
				<key>name</key>
				<string>New Blank Entry</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>BundlePath</key>
					<string></string>
					<key>Comment</key>
					<string></string>
					<key>Enabled</key>
					<true/>
					<key>ExecutablePath</key>
					<string></string>
					<key>Identifier</key>
					<string></string>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string></string>
					<key>PlistPath</key>
					<string></string>
				</dict>
			</dict>
		</array>
		<key>Root/Kernel/Patch</key>
		<array>
			<dict>
				<key>name</key>
				<string>New Blank Entry</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>Base</key>
					<string></string>
					<key>Comment</key>
					<string></string>
					<key>Count</key>
					<integer>0</integer>
					<key>Enabled</key>
					<true/>
					<key>Find</key>
					<data></data>
					<key>Identifier</key>
					<string></string>
					<key>Limit</key>
					<integer>0</integer>
					<key>Mask</key>
					<data></data>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string></string>
					<key>Replace</key>
					<data></data>
					<key>ReplaceMask</key>
					<data></data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>separator</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>Force FileVault on Broken Seal (11.3+)</string>
				<key>types</key>
				<string>d/d/a</string>
				<key>value</key>
				<dict>
					<key>Arch</key>
					<string>x86_64</string>
					<key>Base</key>
					<string>_apfs_filevault_allowed</string>
					<key>Comment</key>
					<string>Force FileVault on Broken Seal</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Enabled</key>
					<true/>
					<key>Find</key>
					<data></data>
					<key>Identifier</key>
					<string>com.apple.filesystems.apfs</string>
					<key>Limit</key>
					<integer>0</integer>
					<key>Mask</key>
					<data></data>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string>20.4.0</string>
					<key>Replace</key>
					<data>uAEAAADD</data>
					<key>ReplaceMask</key>
					<data></data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
