<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>debug_hashes</key>
		<array>
			<string>ab665d6747347e7d84111bc4eed9aa0a</string>
			<string>90522df5361813bf25bf57882693059c</string>
			<string>8668bb81d915aac49cadd1617a0eaf3b</string>
			<string>d3b8a795e1e181ff9d4b1579606141f4</string>
			<string>d7613a4070c0ba1d7d0b5803a78a5039</string>
			<string>6900c59f1a007c3ceb5180b5a6d65aef</string>
			<string>73dba3e59737eaf18904528f9167c846</string>
			<string>1670e4325df7adf5d32e62cf9abb2adf</string>
			<string>ed86ac6bb825eff2e48ec359a1a31dcc</string>
			<string>1d5cba95ef289a3b30f792b0170a259f</string>
		</array>
		<key>kext_add</key>
		<dict>
			<key>Arch</key>
			<string>Any</string>
			<key>MaxKernel</key>
			<string></string>
			<key>MinKernel</key>
			<string></string>
		</dict>
		<key>min_version</key>
		<string>0.8.4</string>
		<key>release_hashes</key>
		<array>
			<string>0cbf167281f9fcf64316c55fcfa8dbd4</string>
			<string>bd68d62b4a39168746b4cfc9197fd452</string>
			<string>4d1e53334a8bb41b11ca41d9c08843bd</string>
			<string>47be19f160e9f80f35093e813af51aa4</string>
			<string>f9d47e038dc3e9a97781879eea495f63</string>
			<string>d3c7f7652dfc4d811153de2c9a85fdbe</string>
			<string>93bb05febe9b6a34e3dcd36f26aaf16a</string>
			<string>ba1d246b8abfa59e0b56615f2f5caada</string>
			<string>44a58f86045ad4c0783bdb78b9e21c2e</string>
			<string>fd45ddeb808efd977ac0fbeb549286ec</string>
		</array>
		<key>tool_add</key>
		<dict>
			<key>Arguments</key>
			<string></string>
			<key>Auxiliary</key>
			<true/>
			<key>Flavour</key>
			<string>Auto</string>
			<key>FullNvramAccess</key>
			<false/>
			<key>RealPath</key>
			<false/>
			<key>TextMode</key>
			<false/>
		</dict>
		<key>driver_add</key>
		<dict>
			<key>Arguments</key>
			<string></string>
			<key>Comment</key>
			<string></string>
			<key>LoadEarly</key>
			<false/>
		</dict>
	</dict>
	<dict>
		<key>debug_hashes</key>
		<array>
			<string>f253ef64ed271d3c95ece553844a34b4</string>
		</array>
		<key>kext_add</key>
		<dict>
			<key>Arch</key>
			<string>Any</string>
			<key>MaxKernel</key>
			<string></string>
			<key>MinKernel</key>
			<string></string>
		</dict>
		<key>min_version</key>
		<string>0.8.3</string>
		<key>max_version</key>
		<string>0.8.3</string>
		<key>release_hashes</key>
		<array>
			<string>9026dd50835d644084d583c340ccdd82</string>
		</array>
		<key>tool_add</key>
		<dict>
			<key>Arguments</key>
			<string></string>
			<key>Auxiliary</key>
			<true/>
			<key>Flavour</key>
			<string>Auto</string>
			<key>RealPath</key>
			<false/>
			<key>TextMode</key>
			<false/>
		</dict>
		<key>driver_add</key>
		<dict>
			<key>Arguments</key>
			<string></string>
			<key>Comment</key>
			<string></string>
			<key>LoadEarly</key>
			<false/>
		</dict>
	</dict>
	<dict>
		<key>debug_hashes</key>
		<array>
			<string>95497990f2dde60661ec66c57f55a28b</string>
			<string>5be2c6ee90d95f786e8d511ce2124055</string>
			<string>a0f63021d1605fe580eea882f3760823</string>
			<string>7c09a5bd5c1554881b0acd1594b971be</string>
			<string>7de24a3b50a581765a211fa45055214b</string>
			<string>972daa56413cfe7f5bab31dbb6ccc68c</string>
			<string>f99d91e4be938766f16768b60773be72</string>
			<string>31800acd3d80d77539ce21064bea79ef</string>
			<string>c08d55614715485e2b096e175aae13b3</string>
		</array>
		<key>kext_add</key>
		<dict>
			<key>Arch</key>
			<string>Any</string>
			<key>MaxKernel</key>
			<string></string>
			<key>MinKernel</key>
			<string></string>
		</dict>
		<key>min_version</key>
		<string>0.7.4</string>
		<key>max_version</key>
		<string>0.8.2</string>
		<key>release_hashes</key>
		<array>
			<string>81a2ac329da9548da0ab0cb140eb9661</string>
			<string>f4ee8bbaf27fcb34367d6192b5db1eec</string>
			<string>e8a18dd8bc56ade19eee855d3caad928</string>
			<string>236d5622b556c56888dae3410dbcf2de</string>
			<string>25b357c3b0d7842e1bb99c18d1367fc0</string>
			<string>4b92f0e0291ce0cc0db9716ac0ed2724</string>
			<string>d032ab8e6ca3fcbd1614208423428a38</string>
			<string>6792be19b704d7346e68587dc1b01209</string>
			<string>f0b718f48792286204e95cf2189a6273</string>
		</array>
		<key>tool_add</key>
		<dict>
			<key>Arguments</key>
			<string></string>
			<key>Auxiliary</key>
			<true/>
			<key>Flavour</key>
			<string>Auto</string>
			<key>RealPath</key>
			<false/>
			<key>TextMode</key>
			<false/>
		</dict>
		<key>driver_add</key>
		<dict>
			<key>Arguments</key>
			<string></string>
			<key>Comment</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>debug_hashes</key>
		<array>
			<string>bda0fed36bdb3301c1b788f8259c74fe</string>
		</array>
		<key>kext_add</key>
		<dict>
			<key>Arch</key>
			<string>Any</string>
			<key>MaxKernel</key>
			<string></string>
			<key>MinKernel</key>
			<string></string>
		</dict>
		<key>min_version</key>
		<string>0.7.3</string>
		<key>max_version</key>
		<string>0.7.3</string>
		<key>release_hashes</key>
		<array>
			<string>95a3f5b7df5e3aee7f44588d56fe1cd3</string>
		</array>
		<key>tool_add</key>
		<dict>
			<key>Arguments</key>
			<string></string>
			<key>Auxiliary</key>
			<true/>
			<key>Flavour</key>
			<string>Auto</string>
			<key>RealPath</key>
			<false/>
			<key>TextMode</key>
			<false/>
		</dict>
		<key>driver_add</key>
		<dict>
			<key>Arguments</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>debug_hashes</key>
		<array>
			<string>26f6d78711ec93afededcee86abe7c8d</string>
			<string>9001a6107a0db056e896cf68c26471c8</string>
			<string>9848c07e173aa448ea701b3ed0e210b5</string>
		</array>
		<key>kext_add</key>
		<dict>
			<key>Arch</key>
			<string>Any</string>
			<key>MaxKernel</key>
			<string></string>
			<key>MinKernel</key>
			<string></string>
		</dict>
		<key>min_version</key>
		<string>0.7.0</string>
		<key>max_version</key>
		<string>0.7.2</string>
		<key>release_hashes</key>
		<array>
			<string>67406c9656c353aa8919c8930c897c3c</string>
			<string>1160d5af5f29ef17c2c870862f2a4728</string>
			<string>1314c4f3220539d997637fa0b57026b5</string>
		</array>
		<key>tool_add</key>
		<dict>
			<key>Arguments</key>
			<string></string>
			<key>Auxiliary</key>
			<true/>
			<key>Flavour</key>
			<string>Auto</string>
			<key>RealPath</key>
			<false/>
			<key>TextMode</key>
			<false/>
		</dict>
	</dict>
	<dict>
		<key>debug_hashes</key>
		<array>
			<string>f23d2a4dab95b33907f42f7270d78ac4</string>
			<string>63296f1dd2e65459bdece8c9634e19c2</string>
			<string>71309b1a64eb1532102eb449eece47bf</string>
			<string>01ed550d56ace511e31e447bb26b85f0</string>
			<string>7839b1ff468f88d552703d6cf04d427a</string>
			<string>5b8545e031bd9341f7bc20fe313cc390</string>
		</array>
		<key>kext_add</key>
		<dict>
			<key>Arch</key>
			<string>Any</string>
			<key>MaxKernel</key>
			<string></string>
			<key>MinKernel</key>
			<string></string>
		</dict>
		<key>max_version</key>
		<string>0.6.9</string>
		<key>min_version</key>
		<string>0.6.4</string>
		<key>release_hashes</key>
		<array>
			<string>5e39db9a6525e4985d20fb3a0f647d7f</string>
			<string>146d835a6ca1af0e43fb5c14274004fc</string>
			<string>a29f8e0bb2622799b5f50e63d2587382</string>
			<string>d52d02c34833ed1e02880a6bad6ba620</string>
			<string>7451af0a43fe1c87f2c5e46627070337</string>
			<string>33dc9e8185b66f4ab466890590011351</string>
		</array>
		<key>tool_add</key>
		<dict>
			<key>Arguments</key>
			<string></string>
			<key>Auxiliary</key>
			<true/>
			<key>RealPath</key>
			<false/>
			<key>TextMode</key>
			<false/>
		</dict>
	</dict>
	<dict>
		<key>debug_hashes</key>
		<array>
			<string>8ef8d1803e91c6718dfee59408b6a468</string>
			<string>86652faf1a336a446b187ae283d2cc9a</string>
			<string>aee0e2713f267fa907bb4e1250af71f7</string>
		</array>
		<key>kext_add</key>
		<dict>
			<key>Arch</key>
			<string>Any</string>
			<key>MaxKernel</key>
			<string></string>
			<key>MinKernel</key>
			<string></string>
		</dict>
		<key>max_version</key>
		<string>0.6.3</string>
		<key>min_version</key>
		<string>0.6.1</string>
		<key>release_hashes</key>
		<array>
			<string>3255c15833abcb05789af00c0e50bf82</string>
			<string>f6bcc6d06d95a1e657e61a15666cde9f</string>
			<string>19758cfb7f8f157959bf608fc76a069d</string>
		</array>
		<key>tool_add</key>
		<dict>
			<key>Arguments</key>
			<string></string>
			<key>Auxiliary</key>
			<true/>
		</dict>
	</dict>
	<dict>
		<key>debug_hashes</key>
		<array>
			<string>db78c5fef3550213e947b8d6fa5338e4</string>
			<string>88e8aec480eb24e757241580731d2023</string>
			<string>b85c28aa004291a96bf74d95eea3364a</string>
			<string>f46456574b8b67f603de74c201b4e130</string>
			<string>f663a56f66b9d95fd053a46b0829fa5c</string>
		</array>
		<key>kext_add</key>
		<dict>
			<key>MaxKernel</key>
			<string></string>
			<key>MinKernel</key>
			<string></string>
		</dict>
		<key>max_version</key>
		<string>0.6.0</string>
		<key>min_version</key>
		<string>0.5.6</string>
		<key>release_hashes</key>
		<array>
			<string>947f8ccfec961d02f54d1a2f5c808504</string>
			<string>3e99e56bc16ed23129b3659a3d536ae9</string>
			<string>dd2bb459dfbb1fe04ca0cb61bb8f9581</string>
			<string>da4a5e54641317b2aa7715f8b4273791</string>
			<string>5010a4db83dacbcc14b090e00472c661</string>
		</array>
		<key>tool_add</key>
		<dict>
			<key>Arguments</key>
			<string></string>
			<key>Auxiliary</key>
			<true/>
		</dict>
	</dict>
	<dict>
		<key>debug_hashes</key>
		<array>
			<string>4be8a2620c923129b3bac0b2d1b8fd6b</string>
			<string>52f819181055f501b6882c2a73268dbc</string>
			<string>1d821f7a51eab7c39999328438770fa7</string>
			<string>d36cb1eafafcd9b94d3526aece5bc8b4</string>
			<string>217a07b161306324d147681914a319c3</string>
		</array>
		<key>kext_add</key>
		<dict>
			<key>MaxKernel</key>
			<string></string>
			<key>MinKernel</key>
			<string></string>
		</dict>
		<key>max_version</key>
		<string>0.5.5</string>
		<key>min_version</key>
		<string>0.5.1</string>
		<key>release_hashes</key>
		<array>
			<string>ff42893722bc0a3278c7d8029b797342</string>
			<string>ba2a5846697e7895753e7b05989738e5</string>
			<string>8cc62a1017afa01c2c75ad4b6fca8df2</string>
			<string>21aa72da926ec362ab58626b60c36ac8</string>
			<string>4bdb27730c0c06275e2fc389348d46d0</string>
		</array>
		<key>tool_add</key>
		<dict>
			<key>Arguments</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>debug_hashes</key>
		<array>
			<string>ec0e6c7dfa2ab84eaad52f167e85466f</string>
		</array>
		<key>kext_add</key>
		<dict>
			<key>MatchKernel</key>
			<string></string>
		</dict>
		<key>max_version</key>
		<string>0.5.0</string>
		<key>min_version</key>
		<string>0.5.0</string>
		<key>release_hashes</key>
		<array>
			<string>081f9922be27b2d1e82fc8dbd3426498</string>
		</array>
	</dict>
</array>
</plist>
